.container {
  width: 100%; }

#map-canvas {
  min-height: 400px;
  height: 100%; }

#dropdownMenu1 {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%; }

#dropdownMenu1List {
  width: 100%; }

#dropdownMenu1List i {
	color: #CADFAA;
}
