.body {
	background-color: #eaeaea;
}

.container {
	width: 100%;
}

#map-canvas {
	min-height:400px;
	height: 100%;
}

#dropdownMenu1 {
	margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

#dropdownMenu1List {
	width:100%;
	button {
		font-size: 1.3em;
		margin: 3px 20px;
	}
}

.list-group-item.active {
	background-color: #CADFAA;
	border-color: #CADFAA;
}